html, body {
    margin: 0;
    box-sizing: border-box;
    background-color: slategray;
}
h1, p, input {
    margin: auto;
    display: block;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
#container {
    margin: auto;
    width: 35%;
    min-width: 200px;
    height: 35vw;
    min-height: 200px;
    background-color: aliceblue;
    display: grid;
    grid-template-columns: 
        auto auto auto auto auto
        auto auto auto auto auto
        auto auto auto auto auto
        auto auto auto auto auto;
    grid-gap: 2px;
}
.cell {
    border-color: brown;
    border-width: 2px;
    background-color: blue;
}
.cell:hover {
    transform: scale(1.2, 1.2)
}